<section class="datail-page col-md-12 px-4">
    <div class="row">
        <div class="col-md-6 datail-page-l">
            <img src="../../assets/images/exemple2.jpg" width="100%" alt="">
        </div>

        <div class="col-md-6 datail-page-r">
            <h2>FIAT UNO</h2>
            <p>1.0 MPI MILLE FIRE ECONOMY 8V FLEX 2P MANUAL</p>
            <h2>R$ 15.000,00</h2>

            <ul class="lista-caracteristicas">
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>2008</small>
                </li>
                
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>Gasolina</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>Prata</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>55192 Km</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>4 portas</small>
                </li>
            </ul>

            <button routerLink="/financiamento" class="btn btn-oncar">Simular financiamento</button>
        </div>
    </div>
</section>