<section class="datail-page col-md-12 px-4">
    <div class="row">
        <div class="col-md-6 datail-page-l">
            <img [src]="'data:image/jpeg;base64,' + carDatail.carPhoto" [alt]="carDatail.description">
        </div>

        <div class="col-md-6 datail-page-r">
            <h2>{{ carDatail.model }}</h2>
            <p>{{ carDatail.description }}</p>
            <h2>{{ +carDatail.price | currency : "R$" }}</h2>

            <ul class="lista-caracteristicas">
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>{{ carDatail.year }}</small>
                </li>
                
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>{{ carDatail.fuel }}</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>{{ carDatail.color }}</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>{{ carDatail.kilometers }} Km</small>
                </li>
        
                <li class="lista-caracteristicas-item">
                    <mat-icon fontIcon="calendar_today"></mat-icon>
                    <small>{{ carDatail.numOfDoors }} portas</small>
                </li>
            </ul>

            <button (click)="onGetFinancing()" class="ml-3 btn btn-oncar">Simule seu financiamento</button>
        </div>
    </div>
</section>