<section class="vehicle-catalog">
    <div class="col-md-12 mt-5 mb-5">
         
        <div class="row mx-3">
            <mat-oncar-autocomplete class="col-md-3 mb-3" inputIcon="search" inputLabel="Marca" [autoCompleteList]="(cars | carBrandList)" (filtrosSelecionados)="buscarVeiculos($event)"></mat-oncar-autocomplete>
            <mat-oncar-autocomplete class="col-md-3 mb-3" inputIcon="search" inputLabel="Modelo" [autoCompleteList]="(cars | carModelList)" (filtrosSelecionados)="buscarVeiculos($event)"></mat-oncar-autocomplete>
            <mat-oncar-autocomplete class="col-md-3 mb-3" inputIcon="calendar_today" inputLabel="Ano" [autoCompleteList]="(cars | carYearList)" ></mat-oncar-autocomplete>
            <mat-oncar-autocomplete class="col-md-3 mb-3" inputIcon="palette" inputLabel="Cor" [autoCompleteList]="(cars | carColorList)" ></mat-oncar-autocomplete>
        </div>
    </div>
    
    <section class="col-md-12">
        <div class="row mx-3">
            <vehicle-card *ngFor="let car of cars" [carData]="car" [routerLink]="'/detalhe/'+car._id" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
        </div>
    </section>
</section>