<section class="vehicle-catalog">
    <div class="col-md-12 mt-5 mb-5">
        <div class="row mx-3">
            <oncar-input-select class="col-md-3 mb-3" inputLabel="Marca" ></oncar-input-select>
            <oncar-input-select class="col-md-3 mb-3" inputLabel="Modelo" ></oncar-input-select>
            <oncar-input class="col-md-3 mb-3" inputIcon="calendar_today" inputLabel="Ano" ></oncar-input>
            <oncar-input class="col-md-3 mb-3" inputIcon="palette" inputLabel="Cor" ></oncar-input>
        </div>
    </div>
    
    <section class="col-md-12">
        <div class="row mx-3">
            <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
            <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
            <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
            <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
        </div>
    </section>
</section>