<div class="vehicle-card-container">
    <div class="vehicle-card_imgContainer">
        <img src="../../../assets/images/carro.png" draggable="false" alt="texto alternativo com o nome do veículo">
    </div>



    <div class="vehicle-into">
        <h3 class="vehicle-name">Fiat Uno</h3>
        <small class="vehicle-description">1.0 MPI MILLE FIRE ECONOMY 8V FLEX 2P MANUAL</small>

        <div class="mt-3 d-flex align-items-end justify-content-between">
            <div class="info-l">
                <h3 class="vehicle-price">R$ 15.000,00</h3>
                <small class="vehicle-year">2008</small>
            </div>
            
            <div class="info-r">
                <small class="vehicle-km">293.000 Km</small>
            </div>
        </div>
    </div>
</div>