<div class="vehicle-card-container">
    <div class="vehicle-card_imgContainer">
        <img [src]="'data:image/jpeg;base64,' + carData.carPhoto" draggable="false" [alt]="carData.description" width="100%">
    </div>

    <div class="vehicle-into">
        <h3 class="vehicle-name d-inline-block text-truncate" >{{ carData.model }}</h3>
        <small class="vehicle-description">{{ carData.description }}</small>

        <div class="mt-3 d-flex align-items-end justify-content-between">
            <div class="info-l">
                <h3 class="vehicle-price">{{ +carData.price | currency: 'R$' }}</h3>
                <small class="vehicle-year">{{ carData.year }}</small>
            </div>
            
            <div class="info-r">
                <small class="vehicle-km">{{ carData.kilometers }} Km</small>
            </div>
        </div>
    </div>
</div>