<section class="car-form col-md-12 px-4">

  <div class="car-form-container">
    <h2 class="mb-4">Adicionar novo veículo</h2>

    <form class="row" [formGroup]="formulario" (ngSubmit)="onSubmit($event)" #carForm="ngForm">
      <div class="col-md-6">
        <div class="d-flex gap-4">
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Marca do carro</mat-label>
            <input matInput formControlName="marca" placeholder="Ex. Fiat">
            <mat-error *ngIf="formulario.get('marca')?.invalid && formulario.get('marca')?.touched">
              Marca do carro é obrigatória
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Modelo do carro</mat-label>
            <input matInput formControlName="modelo" placeholder="Ex. Uno Mille Fire">
            <mat-error *ngIf="formulario.get('modelo')?.invalid && formulario.get('modelo')?.touched">
              Modelo do carro é obrigatório
            </mat-error>
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="fill" class="w-100 mb-3">
          <mat-label>Textarea</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
  
        <div class="d-flex gap-4">
          <mat-form-field appearance="fill" floatLabel="always" class="w-100 mb-2">
            <mat-label>Preço do carro</mat-label>
            <input matInput type="number" class="example-right-align" formControlName="preco" placeholder="0">
            <span matTextPrefix>R$&nbsp;</span>
            <mat-error *ngIf="formulario.get('preco')?.invalid && formulario.get('preco')?.touched">
              Preço do carro é obrigatório
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width" class="w-100 mb-2">
            <mat-label>Ano de fabricação</mat-label>
            <input matInput formControlName="anoFabricacao" maxlength="4" placeholder="Ex. 1992">
            <mat-error *ngIf="formulario.get('anoFabricacao')?.invalid && formulario.get('anoFabricacao')?.touched">
              Ano de fabricação é obrigatório e deve ter 4 dígitos
            </mat-error>
          </mat-form-field>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="d-flex gap-4">
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Tipo de combustivel</mat-label>
            <input matInput formControlName="tipoCombustivel" placeholder="Ex. Gasolina">
            <mat-error *ngIf="formulario.get('tipoCombustivel')?.invalid && formulario.get('tipoCombustivel')?.touched">
              Tipo de combustível é obrigatório
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Cor do carro</mat-label>
            <input matInput formControlName="cor" placeholder="Ex. Vermelho">
            <mat-error *ngIf="formulario.get('cor')?.invalid && formulario.get('cor')?.touched">
              Cor do carro é obrigatória
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="d-flex gap-4">
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Quilometros rodados</mat-label>
            <input matInput formControlName="km" placeholder="Ex. 10000">
            <mat-error *ngIf="formulario.get('km')?.invalid && formulario.get('km')?.touched">
              Quilômetros rodados é obrigatório
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="w-100 mb-2">
            <mat-label>Número de portas</mat-label>
            <input matInput formControlName="numPortas" maxlength="1" placeholder="Ex. 4">
            <mat-error *ngIf="formulario.get('numPortas')?.invalid && formulario.get('numPortas')?.touched">
              Número de portas é obrigatório e deve ter apenas 1 dígito
            </mat-error>
          </mat-form-field>
        </div>
  
        <input type="file" formControlName="file" (change)="onFileSelected($event)" name="carPhoto" accept="image/*">

        <button [disabled]="formulario.invalid" class="mt-4 w-100 d-block btn btn-oncar">Cadastrar</button>
      </div>
    </form>

  </div>
</section>

<section class="col-md-12 px-4 mt-4">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Preço</th>
        <th scope="col">Ano de fabricação</th>
        <th scope="col">Combustivel</th>
        <th scope="col">Cor</th>
        <th scope="col">Km rodado</th>
        <th scope="col">N. de portas</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let car of carList$ | async">
        <th scope="row">1</th>
        <td>{{ car.brand }}</td>
        <td>{{ car.model }}</td>
        <td>{{ +car.price | currency : 'R$' }}</td>
        <td>{{ car.year }}</td>
        <td>{{ car.fuel }}</td>
        <td>{{ car.color }}</td>
        <td>{{ car.kilometers }}</td>
        <td>{{ car.numOfDoors }}</td>
        <td class="deleteItem" (click)="onDeleteVehicle(car._id)"><mat-icon fontIcon="delete"></mat-icon></td>
      </tr>
    </tbody>
  </table>
</section>