.car-form {
    width: 99%;
    padding-top: 90px;

    .car-form-container {
        border-radius: 6px;
        padding: 1rem;
    
        -webkit-box-shadow: 1px 1px 5px 1px rgba(179, 179, 179, 0.658);
        -moz-box-shadow: 1px 1px 5px 1px rgba(179, 179, 179, 0.658);
        box-shadow: 1px 1px 5px 1px rgba(179, 179, 179, 0.658);
    }
}

.btn-oncar {
    color: #ffffff;
    background-color: #C92227;
    font-weight: 600;
    transition: .1s ease-in-out;
    outline: none;
    border: none;
}

.deleteItem {
    color: #C92227;
    cursor: pointer;
}

.btn-oncar:hover,
.deleteItem:hover {
  scale: (1.05);
}

