mat-toolbar {
  position: fixed;
  z-index: 9;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(117,111,117,1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(117,111,117,1);
  box-shadow: 1px 1px 5px 0px rgba(117,111,117,1);
}