<section class="oncarHero col-md-12">
  <div class="col-md-6 oncarHero-l">
      <h1>
          seu carro novo <br>
          está aqui!
      </h1>

      <p>
          Explore nosso showroom e encontre o carro dos seus sonhos. Experimente a emoção de dirigir com segurança e conforto. Seu novo veículo espera por você aqui!
      </p>

      <button class="btn btn-oncar">Veja nosso catalogo</button>
  </div>
  <div class="col-md-6 oncarHero-r">
      <img draggable="false" src="../assets/images/hero-img1.png" alt="" srcset="">
  </div>
</section>