<section class="financial-page col-md-12">
    <div class="row">
        <div class="col-md-6 financial-page-l">
            <img src="../../assets/images/exemple-car.png" alt="">
        </div>

        <div class="col-md-6 financial-page-r">
            <h2>
                Foi liberado para você um financiamento de:
            </h2>

            <h2 class="valueLabel">
                {{ financingValue | currency : 'R$' }}
            </h2>

            <h2>
                Com a entrada de:
            </h2>

            <h2 class="valueLabel">
                {{ entryValue | currency : 'R$' }}
            </h2>
        </div>
    </div>
</section>