<section class="oncarHero col-md-12">
    <div class="col-md-6 col-sm-12 oncarHero-l">
        <h1>
            seu carro novo <br>
            está aqui!
        </h1>
  
        <p>
            Explore nosso showroom e encontre o carro dos seus sonhos. Experimente a emoção de dirigir com segurança e conforto. Seu novo veículo espera por você aqui!
        </p>
  
        <button routerLink="/catalogo" class="btn btn-oncar">Veja nosso catalogo</button>
    </div>
    <div class="col-md-6 col-sm-12 oncarHero-r">
        <img draggable="false" src="../assets/images/hero-img1.png" alt="" srcset="">
    </div>
</section>
  
<section class="oncarContainer oncarCatalogo-home">
      <h1>Catalogo de carros</h1>
      <p>Veja nossas novidades</p>
  
      <div class="col-md-12 mt-5 mb-5">
        <div class="row mx-3">
            <oncar-input-select class="col-md-3 mb-3" inputLabel="Marca" ></oncar-input-select>
            <oncar-input-select class="col-md-3 mb-3" inputLabel="Modelo" ></oncar-input-select>
            <oncar-input class="col-md-3 mb-3" inputIcon="calendar_today" inputLabel="Ano" ></oncar-input>
            <oncar-input class="col-md-3 mb-3" inputIcon="palette" inputLabel="Cor" ></oncar-input>
        </div>
    </div>
  
      <div class="col-md-12 mb-5">
          <div class="row">
              <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
              <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
              <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
              <vehicle-card routerLink="/detalhe" class="col-lg-3 col-md-4 custom-sm-col mb-4"></vehicle-card>
          </div>
      </div>
</section>

<section class="fianciamento">
      <h2 class="cta">
          SIMULE SEU FINANCIAMENTO
      </h2>
  
      <div class="inputRow">
          <div class="position-relative">
              <input type="text" [(ngModel)]="financialValue" [ngClass]="{'active': financialValue}">
              <label>Valor do veículo</label>
          </div>
          <button class="ml-3 btn btn-oncar" [disabled]="!financialValue">Veja nosso catalogo</button>
      </div>
</section>